.body {
    font-family: 'Open Sans', sans-serif;
}


.header {
    position: absolute;

}


.container {
    max-width: 1170px;
    width: 100%;
}

.intro {
    padding-top: 200px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav__link {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #494949;
    font-size: 35px;
    font-weight: 500;
}



.intro__title {
    font-family: 'Open Sans', sans-serif;
}

.intro__subtitle {
    font-family: 'Open Sans', sans-serif;
}