
.body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.intro__title {
    width: 100%;
    height: 160px;
}

/*  header
===== */

.background {
    position: absolute;
    width: 100%;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    z-index: 1;
    height: 920px; /*высота*/
}

.header__nav {
    display: flex;
}


.border__smart {
    display: flex;
    margin-top: 80px;
   
  
    display: block;
    font-weight: 500;
    font-size: 37px;
    font-family: 'Open Sans', sans-serif;
    

}

p:first-letter {
    color: red; /* Красный цвет первой буквы */
}

.menu {
    margin-left: auto;
    margin-top: 100px;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    
}

.container {
    width: 100%; /* ширина */
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto; /* это отступ */

}

.subtitle {
    text-align: center;
    margin-top: 350px;
}

.title {
    margin-top: 280px;
}


.intro {
    display: flex;
    flex-direction: column; /* Текст направления выкладывается в строку (вертикально)*/
    justify-content: center; /*justify-content это выравнивание содержания;
     center - по центру*/
    padding-top: 160px;
    height: 750px; /*высота */
    z-index: 5;
    
}

.intro__subtitle {
    display: block;
    margin: 0;
    color: #000;
}

.intro__inner {
    text-align: center; /* распологает текст по центру относительно другого текста */
    width: 100%; /* распологает по всей ширине */
    max-width: 970px;
    margin: 0 auto;
}