.body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Semibold', arial;
}

.container {
    width: 100%; /* ширина */
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto; /* это отступ */;
}

.header {
    width: 100%;
    height: 920px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f5f5f5;
    
}

.nav__link {
    border: solid #706b73;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #494949;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 150px;
  
}

.colortextS {
    color: #fa9179;
}

.intro__title {
    font-family: 'Open Sans', sans-serif;
    margin-top: 200px;
    margin-bottom: 10px;
    color: #6b6b6b;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.colortext {
    color: #fc6f4e;
}


.intro__subtitle {
    font-family: 'Open Sans Semibold', arial;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    color: #565656;

}

.sub_block {
    text-align: center; /* распологает текст по центру относительно другого текста */
    width: 100%; /* распологает по всей ширине */
    max-width: 750px;
    margin: 0 auto;
}

.header__inner {
    text-align: center; /* распологает текст по центру относительно другого текста */
   /* распологает по всей ширине */
    max-width: 650px;
    margin: 0 auto;
}


/* WORKIGN 
=========*/
.working {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 920px;
    
    width: 100%;
    
    height: 770px;
}

.block__working {
    margin-top: 140px;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 770px;
}

.work__title {
    text-align: center; /* распологает текст по центру относительно другого текста */
    /* распологает по всей ширине */
     max-width: 650px;
     margin: 0 auto;
     font-size: 50px;
     font-family: 'Open Sans Semibold', arial;
     color: #585858;
 }
  

.colortextwork {
    color: #fd8d77;
}

.work__subtitle {
    text-align: center; /* распологает текст по центру относительно другого текста */
    /* распологает по всей ширине */
     max-width: 650px;
     margin: 0 auto;
     color: #8a8a8a;
     font-size: 16px;
     font-family: 'Open Sans', sans-serif;
     margin-top: 10px;
     margin-bottom: 20px;

}


.work_icon {
    position: relative;
    display: flex;
    
    justify-content: center;
    
}

.block__icon {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.rounded {
    position: absolute;
    padding-top: 230px;
    margin-left: 5px
}

.square_icon {
    font-family: 'Open Sans Semibold', arial;
    
}

.text_square {
    position: absolute;
    text-align: center;
    line-height: 250px;
    color: #fff;
    font-size: 20px;

    font-family: 'Open Sans Semibold', arial;

}

.text_subtitle {
    position: absolute;
    text-align: center;

    color: #fff;
    font-family: 15px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.75;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 150px;
}

.text_subtitle2 {
    position: absolute;
    text-align: center;

    color: #fff;
    font-family: 15px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.75;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 167px;

}

.rounded__text {
    position: absolute;
    margin-top: 255px;
    margin-left: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    cursor: pointer;
    text-decoration: none; 
}


.plus {
    position: absolute;
    margin-top: 249px;
    text-align: center;
    font-family: 'Open Sans Semibold', arial;
    opacity: 0.6;
    color: #000;
    margin-right: 100px;
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
}

.featured {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 1600px;
    background-color: #fbfbfb;
}


.red_title {
    color: #fc8c76;
}

.featured__title {
    text-align: center;
    
    font-family: 'Open Sans Semibold', arial;
    font-weight: 400;
    padding-top: 120px;
    font-size: 50px;
    color: #565656;
}

.featured__subtitle {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #aeaeae;
    margin-bottom: 100px;
    padding-top: 18px;
}

.orange__blocks {
    
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.services {
    height: 930px;
    width: 100%;
    background-color: #fff;
    display: flex; 
    justify-content: center;
}


.services__title {
    text-align: center;
    padding-top: 145px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.services__colortext {
    color: #fd8d77;
}

.services__subtitle {
    text-align: center;
   
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #aeaeae;
    margin-bottom: 140px;
    padding-top: 18px;
}

.services__contenttitle {
    margin-left: 245px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #404040;
    font-size: 30px;
}

.server_icon {
    margin-left: 245px;
}

.serivces__content {
    display: flex;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 555px;
    color: #4c4c4c;

}

.stick {
    margin-left: 245px;
    margin-bottom: 15px;

}

.services__round {
    display: flex;
    justify-content: center;
    margin-left: -80px;
    padding: 0;
}

.rounded1 {
    position: absolute;
    
    margin-top: 23px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    cursor: pointer;
    text-decoration: none; 
}

.watch {
    position: absolute;
    margin-left: 800px;
    margin-top: -50px;
}

.services__icon {
    position: absolute;
    margin-top: 355px;
}

.services__icon2 {
    position: absolute;
    margin-top: 485px;
    margin-left: 30px;
}

.services__icon3 {
    position: absolute;
    margin-top: 585px;
    margin-left: 30px;
}

.services__icon4 {
    position: absolute;
    margin-top: 685px;
    margin-left: 30px;
}

.team {
    position: absolute;
    margin-top: 930px;
    height: 960px;
    width: 100%;
    background-color: rgb(110, 110, 110);
    display: flex; 
    justify-content: center;
}
